<div *ngIf="countArray.length" class="ui card mytable">
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Action</th>
        <th>Target</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let activity of activities">
        <td>
          <div class="ui ribbon label">{{activity.action}}</div>
        </td>
        <td>{{activity.target}}</td>
        <td>{{activity.starttime}}</td>
        <td>{{activity.endtime}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">
          <div class="ui right inverted floated pagination menu">
            <a class="item" (click)="page(num)" *ngFor="let num of countArray">{{num+1}}</a>
          </div>
          <div class="ui left floated icon buttons admin">
            <button class="ui icon button black" (click)="redirectToImages()">
              <i class="chevron left icon"></i>
            </button>
            <button class="ui icon button black" (click)="redirectToHome()">
                <i class="home icon"></i>
              </button>
          </div>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
<div *ngIf="!countArray.length&&isLoaded" class="ui floating massive negative message mytable">
  <p>No Activity found for given url</p>
</div>
