<img src="https://picsum.photos/202" id="a1" (click)="clickAction(1)" (mouseenter)="enterAction(1)" (mouseleave)="exitAction(1)">
<img src="https://picsum.photos/200" id="a2" (click)="clickAction(2)" (mouseenter)="enterAction(2)" (mouseleave)="exitAction(2)">
<img src="https://picsum.photos/203" id="a3" (click)="clickAction(3)" (mouseenter)="enterAction(3)" (mouseleave)="exitAction(3)">
<img src="https://picsum.photos/204" id="a4" (click)="clickAction(4)" (mouseenter)="enterAction(4)" (mouseleave)="exitAction(4)">
<img src="https://picsum.photos/205" id="a5" (click)="clickAction(5)" (mouseenter)="enterAction(5)" (mouseleave)="exitAction(5)">
